{% extends "base.html" %}
{% block content %}
<section role="main" class="main-container" id="calc">
  <h2>TALLY UP YOUR NIGHT</h2>
  <form action="" method="post" name="bac">
    {{form.hidden_tag()}}
    <div class="row">
        <div class="large-6 med-6 small-6 columns">
            <div class="calc-image"><img src="{{url_for('static', filename='img/bac_beer.png')}}" /></div>
            {{form.beer}}
        </div>
        <div class="large-6 med-6 small-6 columns">
            <div class="calc-image"><img src="{{url_for('static', filename='img/bac_wine.png')}}" /></div>
            {{form.wine}}
        </div>
    </div>

    <div class="row"><br /><br /></div>

    <div class="row">
        <div class="large-6 med-6 small-6 columns">
            <div class="calc-image"><img src="{{url_for('static', filename='img/bac_mixed.png')}}" /></div>
            {{form.liqour}}
        </div>
        <div class="large-6 med-6 small-6 columns" id="hrs">
            <p>In</p> {{form.hours}} <p>hrs</p>
        </div>
    </div>

    <div class="row"><br /><br /></div>

    <div class="row">
        <div class="large-6 med-6 small-6 columns" id="weight">
            <p>I weigh:</p> {{form.weight}}
        </div>
        <div class="large-6 med-6 small-6 columns"><span>Gender:</span> {{form.gender}}</div>
    </div>
    <div class="row">
        <input type="submit" value="Go!" id="calculate">
    </div>
  </form>
</section>
{% endblock %}
